@import url(https://fonts.googleapis.com/css?family=Nunito);


.section {
    scroll-behavior: smooth;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header-transparent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: transparent;
    z-index: 100;
    transition: background-color 1s ease 0s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(145, 140, 140);
    z-index: 100;
    transition: background-color 1s ease 0s;
}

.logo {
    cursor: pointer;

}

.nav__links a,
.cta,
.overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #7759da;
    text-decoration: none;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #c9bee7;
}

.cta {
    padding: 9px 25px;
    background-color: #dad5e9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

.cta:hover {
    background-color: #c9bee7;
    color: #7759da;
    text-decoration: none;
}

/* Mobile Nav */

.menu {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: #0088a9;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 800px) {

    .nav__links,
    .cta {
        display: none;
    }

    .menu {
        display: initial;
    }
}

/* INDEX BANNER */

.banner {
    background-image: url("../assets/background1.jpg");
    width: auto;
    height: 100%;
    background-size: cover;
}

.banner2 {
    background-image: url("../assets/background1.jpg");
    width: auto;
    height: 65%;
    background-size: cover;
}

.bannertext {
    text-align: center;
    line-height: 60px;
    color: #413342;
    font-weight: bold;
    font-size: 27px;
    margin-top: 11vh;
}

.bannertext2 {
    text-align: center;
    line-height: 60px;
    color: #413342;
    font-weight: bold;
    font-size: 27px;
    margin-top: 10vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "welkom facebook"
    ;
    grid-gap: 0px 50px;
    margin: 50px 200px;
    align-items: center;
    justify-items: center;
}

.page-container {
    margin: 100px 175px 100px 175px;
    display: flex;
    justify-content: center;
}

.page-container2 {
    margin: 0px 175px 100px 175px;
    display: flex;
    justify-content: center;
}

.product_card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin: 20px;
    max-width: 225px;
}


@media screen and (max-width: 40em) {
    .grid-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "welkom facebook"
            "welkom facebook"
            "welkom facebook"
        ;
        grid-gap: 20px;
        margin: 50px 50px;
        align-items: center;
        justify-items: center;
    }
}

.item1 {
    grid-area: welkom;
}

.item2 {
    grid-area: facebook;
    justify-content: center;
}


.item1 h2 {
    color: #4C4CA0;
    margin-bottom: 12;
    max-width: 800;
}

.item1 p {
    color: #444444;
    max-width: 800;
}

.fbframe {
    margin-top: 60px !important;
}

/* Overgang van header naar pagina */
.overgang-shape {
    transform: rotate(180deg);
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}

.overgang-shape svg {
    display: block;
    width: calc(300% + 1.3px);
    height: 160px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

svg:not(:root) {
    overflow: hidden;
}

.overgang-shape-bottom {
    bottom: -1px;
}

.overgang-shape-bottom2 {
    bottom: -10px;
}

.svg-shape-fill {
    fill: #fff;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
